# Subway Station Cleaning

##

In [41]:
import numpy as np
import pandas as pd 
import requests
import time

In [21]:
starbucks = pd.read_csv('Data/Starbucks.csv')

In [110]:
station = pd.read_csv('Data/StationEntrances.csv')

Will read in starbucks and station data set with locations

In [22]:
starbucks = starbucks.loc[(starbucks['State/Province'] == 'NY') & (starbucks['City'].isin(['Flushing','New York','Astoria','Manhattan', 'Kew Gardens','Forest Hills','Jamaica']))]

Will filter out all locations that are around the MTA 'E' Subway line. We had to perfrom a guess and check on all towns that surrounded the various subway stops and the following cities came back with starbucks located in them

In [23]:
starbucks.head()

,Brand,Store Number,Store Name,Ownership Type,Street Address,City,State/Province,Country,Postcode,Phone Number,Timezone,Longitude,Latitude
20878,Starbucks,14840-129334,31-01 Broadway,Company Owned,31-01 Broadway,Astoria,NY,US,111062648,718-777-1305,GMT-05:00 America/New_York,-73.93,40.76
20879,Starbucks,22638-223164,Astoria Blvd & 31st St,Company Owned,30-18 Astoria Blvd,Astoria,NY,US,11102,7182781518,GMT-05:00 America/New_York,-73.92,40.77
20880,Starbucks,9663-97893,35th Ave and 37th St,Company Owned,3711 35th Avenue,Astoria,NY,US,11106,718-706-0464,GMT-05:00 America/New_York,-73.92,40.76
20881,Starbucks,7567-18640,31-44 Steinway Street,Company Owned,31-44 Steinway Street,Astoria,NY,US,111033911,718-274-5700,GMT-05:00 America/New_York,-73.92,40.76
20882,Starbucks,7555-14690,31St St & Ditmars Blvd,Company Owned,22-04 31st Street,Astoria,NY,US,111052714,718-626-6004,GMT-05:00 America/New_York,-73.91,40.78

In [24]:
starbucks.shape

(255, 13)

In [25]:
len(starbucks['Store Number'].unique())

255

We checked len of each store number to confirm that there were no duplicates with store number as its the unique identifier column

In [26]:
starbucks['new_street'] = [i.replace(" ","") for i in starbucks['Street Address']]

In [27]:
starbucks['combined'] = starbucks['new_street']+starbucks['City']

In [28]:
starbucks['combined']

20878              31-01BroadwayAstoria
20879           30-18AstoriaBlvdAstoria
20880             371135thAvenueAstoria
20881        31-44SteinwayStreetAstoria
20882            22-0431stStreetAstoria
                      ...
21356      77-83West125thStreetNew York
21357              1740BroadwayNew York
21358                325W49thStNew York
21359    684AvenueoftheAmericasNew York
21360        30RockefellerPlazaNew York
Name: combined, Length: 255, dtype: object

Feature engineer column to have one word for street address and city with no spaces

In [50]:
starbucks.head()

,Brand,Store Number,Store Name,Ownership Type,Street Address,City,State/Province,Country,Postcode,Phone Number,Timezone,new_street,combined,latitude,longitude
0,Starbucks,14840-129334,31-01 Broadway,Company Owned,31-01 Broadway,Astoria,NY,US,111062648,718-777-1305,GMT-05:00 America/New_York,31-01Broadway,31-01BroadwayAstoria,40.762074,-73.925029
1,Starbucks,22638-223164,Astoria Blvd & 31st St,Company Owned,30-18 Astoria Blvd,Astoria,NY,US,11102,7182781518,GMT-05:00 America/New_York,30-18AstoriaBlvd,30-18AstoriaBlvdAstoria,40.769995,-73.918523
2,Starbucks,9663-97893,35th Ave and 37th St,Company Owned,3711 35th Avenue,Astoria,NY,US,11106,718-706-0464,GMT-05:00 America/New_York,371135thAvenue,371135thAvenueAstoria,40.755939,-73.923485
3,Starbucks,7567-18640,31-44 Steinway Street,Company Owned,31-44 Steinway Street,Astoria,NY,US,111033911,718-274-5700,GMT-05:00 America/New_York,31-44SteinwayStreet,31-44SteinwayStreetAstoria,40.760282,-73.918140
4,Starbucks,7539-12698,Main St & 41St Ave,Company Owned,41-02 Main Street,Flushing,NY,US,113553133,718-358-9355,GMT-05:00 America/New_York,41-02MainStreet,41-02MainStreetFlushing,40.757969,-73.829743

In [29]:
starbucks_coords = []
starbucks_store = []
missing_cords = []
for i in starbucks['combined']:
    try:
        response = requests.get(f'https://maps.googleapis.com/maps/api/geocode/json?address={i}ny&key=AIzaSyB11FgUKLMVHQLscEKwR6MhEHj81VFYl1Q')

        results = response.json()

        starbucks_coords.append(results['results'][0]['geometry']['location'])
        starbucks_store.append(i)
    except:
        missing_cords.append(i)
    time.sleep(2)

In [30]:
print(len(starbucks_coords))
print(len(starbucks_store))

248
248

In [31]:
missing_cords

['22-0431stStreetAstoria',
 '1350520thAveFlushing',
 '38ParkRow,#4New York',
 '1000SEighthAvenue,#34New York',
 '1117LexingtonAve.,#4New York',
 '1291LexingtonAve.,#1291New York',
 '1488ThirdAvenue#ANew York']

In [32]:
lat = []
long = []
for starbucks_coord in starbucks_coords:
    lat.append(starbucks_coord.get('lat'))
    long.append(starbucks_coord.get('lng'))

We will will a loop that will extract each latitude and longitude value from the coordinates pulled

In [33]:
lat_long = pd.DataFrame(data = {'combined': starbucks_store,
                    'latitude': lat,
                    'longitude': long})

In [34]:
lat_long.head()

                     combined   latitude  longitude
0        31-01BroadwayAstoria  40.762074 -73.925029
1     30-18AstoriaBlvdAstoria  40.769995 -73.918523
2       371135thAvenueAstoria  40.755939 -73.923485
3  31-44SteinwayStreetAstoria  40.760282 -73.918140
4     41-02MainStreetFlushing  40.757969 -73.829743

In [ ]:
starbucks = pd.merge(left = starbucks,
        right = lat_long,
        how ='inner',
        on = 'combined')

Create a dataframe that we can merge back on with the latitude and longitudes of al the NY area stores

In [35]:
starbucks = pd.merge(left = starbucks,
        right = lat_long,
        how ='inner',
        on = 'combined')

In [36]:
starbucks.drop(columns= ['Longitude', 'Latitude'], inplace = True)
starbucks.head()

,Brand,Store Number,Store Name,Ownership Type,Street Address,City,State/Province,Country,Postcode,Phone Number,Timezone,new_street,combined,latitude,longitude
0,Starbucks,14840-129334,31-01 Broadway,Company Owned,31-01 Broadway,Astoria,NY,US,111062648,718-777-1305,GMT-05:00 America/New_York,31-01Broadway,31-01BroadwayAstoria,40.762074,-73.925029
1,Starbucks,22638-223164,Astoria Blvd & 31st St,Company Owned,30-18 Astoria Blvd,Astoria,NY,US,11102,7182781518,GMT-05:00 America/New_York,30-18AstoriaBlvd,30-18AstoriaBlvdAstoria,40.769995,-73.918523
2,Starbucks,9663-97893,35th Ave and 37th St,Company Owned,3711 35th Avenue,Astoria,NY,US,11106,718-706-0464,GMT-05:00 America/New_York,371135thAvenue,371135thAvenueAstoria,40.755939,-73.923485
3,Starbucks,7567-18640,31-44 Steinway Street,Company Owned,31-44 Steinway Street,Astoria,NY,US,111033911,718-274-5700,GMT-05:00 America/New_York,31-44SteinwayStreet,31-44SteinwayStreetAstoria,40.760282,-73.918140
4,Starbucks,7539-12698,Main St & 41St Ave,Company Owned,41-02 Main Street,Flushing,NY,US,113553133,718-358-9355,GMT-05:00 America/New_York,41-02MainStreet,41-02MainStreetFlushing,40.757969,-73.829743

I create 3 fucntions to pull the distance of the 3 closest starbucks stores. These functions will take in the latitude and longitude coordinates of each subway station within our dataframe as well as the starbucks stores latitude and longitudes and use the pythagorean theorem to find the shortest distance between them. We will then list these distances and match them to the dataframe after

In [128]:
def closest_station(x1, y1, x2, y2): #x2, y2 series of lat and long for stations
    return pd.DataFrame((np.sqrt((x2 - x1)**2 + (y2-y1)**2)).sort_values()).iloc[0]

In [129]:
def closest_station2(x1, y1, x2, y2): #x2, y2 series of lat and long for stations
    return pd.DataFrame((np.sqrt((x2 - x1)**2 + (y2-y1)**2)).sort_values()).iloc[1]

In [130]:
def closest_station3(x1, y1, x2, y2): #x2, y2 series of lat and long for stations
    return pd.DataFrame((np.sqrt((x2 - x1)**2 + (y2-y1)**2)).sort_values()).iloc[2]

In [150]:
def closest_store(x1, y1, x2, y2): #x2, y2 series of lat and long for stations
    temp =  pd.DataFrame(data = [starbucks['Store Name'],(np.sqrt((x2 - x1)**2 + (y2-y1)**2))],index=[0,1])
    return temp.T.sort_values(by = 1).iloc[0][0]

In [148]:
def closest_store2(x1, y1, x2, y2): #x2, y2 series of lat and long for stations
    temp =  pd.DataFrame(data = [starbucks['Store Name'],(np.sqrt((x2 - x1)**2 + (y2-y1)**2))],index=[0,1])
    return temp.T.sort_values(by = 1).iloc[1][0]

In [116]:
def closest_store3(x1, y1, x2, y2): #x2, y2 series of lat and long for stations
    temp =  pd.DataFrame(data = [starbucks['Store Name'],(np.sqrt((x2 - x1)**2 + (y2-y1)**2))],index=[0,1])
    return temp.T.sort_values(by = 1).iloc[2][0]

In [118]:
closest_station(40.775149, -73.912074, starbucks['latitude'], starbucks['longitude'])

0.008255377365080554

In [152]:
closest_store_1= []

In [149]:
closest_store(40.775149, -73.912074, starbucks['latitude'], starbucks['longitude'])

'Astoria Blvd & 31st St'

Ensure that functions are working accordingly

In [127]:
first_closest = []
second_closest = []
third_closest = []
first_closest_store = []
second_closest_store = []
third_closest_store = []
for index in range(len(station)):
    row = station.iloc[index,:]
    lat = row['Latitude']
    long = row['Longitude']
    first_closest.append(closest_station(lat,long, starbucks['latitude'], starbucks['longitude']))
    second_closest.append(closest_station2(lat,long, starbucks['latitude'], starbucks['longitude']))
    third_closest.append(closest_station3(lat,long, starbucks['latitude'], starbucks['longitude']))
    first_closest_store.append(closest_store(lat,long, starbucks['latitude'], starbucks['longitude']))
    second_closest_store.append(closest_store2(lat,long, starbucks['latitude'], starbucks['longitude']))
    third_closest_store.append(closest_store3(lat,long, starbucks['latitude'], starbucks['longitude']))

In [155]:
print(len(first_closest))
print(len(second_closest))
print(len(third_closest))
print(len(first_closest_store))
print(len(second_closest_store))
print(len(third_closest_store))

1866
1866
1866
1866
1866
1866

In [157]:
#function to add all the closest list to the dataframe
def add_to_df(df, distance, store_name, col1_name, col2_name):
    frame = pd.DataFrame([distance,store_name],index=[0,1])
    close = frame.T
    close.reset_index(drop=True, inplace=True)
    df[col1_name] = close[0]
    df[col2_name] = close[1]
    
    return df.head()

In [160]:
add_to_df(station,first_closest,first_closest_store,'first_closest','first_closest_store')

,Division,Line,Station_Name,Station_Latitude,Station_Longitude,Route_1,Route_2,Route_3,Route_4,Route_5,...,ADA,ADA_Notes,Free_Crossover,North_South_Street,East_West_Street,Corner,Latitude,Longitude,first_closest,first_closest_store
0,BMT,Astoria,Ditmars Blvd,40.775036,-73.912034,N,Q,NaN,NaN,NaN,...,False,NaN,True,31st St,23rd Ave,NW,40.775149,-73.912074,0.00825538,Astoria Blvd & 31st St
1,BMT,Astoria,Ditmars Blvd,40.775036,-73.912034,N,Q,NaN,NaN,NaN,...,False,NaN,True,31st St,23rd Ave,NE,40.774810,-73.912151,0.00798653,Astoria Blvd & 31st St
2,BMT,Astoria,Ditmars Blvd,40.775036,-73.912034,N,Q,NaN,NaN,NaN,...,False,NaN,True,31st St,23rd Ave,NE,40.775025,-73.911891,0.0083236,Astoria Blvd & 31st St
3,BMT,Astoria,Ditmars Blvd,40.775036,-73.912034,N,Q,NaN,NaN,NaN,...,False,NaN,True,31st St,23rd Ave,NW,40.774938,-73.912337,0.0079182,Astoria Blvd & 31st St
4,BMT,Astoria,Astoria Blvd-Hoyt Av,40.770258,-73.917843,N,Q,NaN,NaN,NaN,...,False,NaN,True,31st St,Hoyt Ave South,SW,40.770313,-73.917978,0.00063089,Astoria Blvd & 31st St

In [161]:
add_to_df(station,second_closest,second_closest_store,'second_closest','second_closest_store')

,Division,Line,Station_Name,Station_Latitude,Station_Longitude,Route_1,Route_2,Route_3,Route_4,Route_5,...,Free_Crossover,North_South_Street,East_West_Street,Corner,Latitude,Longitude,first_closest,first_closest_store,second_closest,second_closest_store
0,BMT,Astoria,Ditmars Blvd,40.775036,-73.912034,N,Q,NaN,NaN,NaN,...,True,31st St,23rd Ave,NW,40.775149,-73.912074,0.00825538,Astoria Blvd & 31st St,0.0160565,31-44 Steinway Street
1,BMT,Astoria,Ditmars Blvd,40.775036,-73.912034,N,Q,NaN,NaN,NaN,...,True,31st St,23rd Ave,NE,40.774810,-73.912151,0.00798653,Astoria Blvd & 31st St,0.0157136,31-44 Steinway Street
2,BMT,Astoria,Ditmars Blvd,40.775036,-73.912034,N,Q,NaN,NaN,NaN,...,True,31st St,23rd Ave,NE,40.775025,-73.911891,0.0083236,Astoria Blvd & 31st St,0.0160123,31-44 Steinway Street
3,BMT,Astoria,Ditmars Blvd,40.775036,-73.912034,N,Q,NaN,NaN,NaN,...,True,31st St,23rd Ave,NW,40.774938,-73.912337,0.0079182,Astoria Blvd & 31st St,0.0157626,31-44 Steinway Street
4,BMT,Astoria,Astoria Blvd-Hoyt Av,40.770258,-73.917843,N,Q,NaN,NaN,NaN,...,True,31st St,Hoyt Ave South,SW,40.770313,-73.917978,0.00063089,Astoria Blvd & 31st St,0.010032,31-44 Steinway Street

In [162]:
add_to_df(station,third_closest,third_closest_store,'third_closest','third_closest_store')

,Division,Line,Station_Name,Station_Latitude,Station_Longitude,Route_1,Route_2,Route_3,Route_4,Route_5,...,East_West_Street,Corner,Latitude,Longitude,first_closest,first_closest_store,second_closest,second_closest_store,third_closest,third_closest_store
0,BMT,Astoria,Ditmars Blvd,40.775036,-73.912034,N,Q,NaN,NaN,NaN,...,23rd Ave,NW,40.775149,-73.912074,0.00825538,Astoria Blvd & 31st St,0.0160565,31-44 Steinway Street,0.0184057,31-01 Broadway
1,BMT,Astoria,Ditmars Blvd,40.775036,-73.912034,N,Q,NaN,NaN,NaN,...,23rd Ave,NE,40.774810,-73.912151,0.00798653,Astoria Blvd & 31st St,0.0157136,31-44 Steinway Street,0.0181116,31-01 Broadway
2,BMT,Astoria,Ditmars Blvd,40.775036,-73.912034,N,Q,NaN,NaN,NaN,...,23rd Ave,NE,40.775025,-73.911891,0.0083236,Astoria Blvd & 31st St,0.0160123,31-44 Steinway Street,0.0184477,31-01 Broadway
3,BMT,Astoria,Ditmars Blvd,40.775036,-73.912034,N,Q,NaN,NaN,NaN,...,23rd Ave,NW,40.774938,-73.912337,0.0079182,Astoria Blvd & 31st St,0.0157626,31-44 Steinway Street,0.0180707,31-01 Broadway
4,BMT,Astoria,Astoria Blvd-Hoyt Av,40.770258,-73.917843,N,Q,NaN,NaN,NaN,...,Hoyt Ave South,SW,40.770313,-73.917978,0.00063089,Astoria Blvd & 31st St,0.010032,31-44 Steinway Street,0.0108437,31-01 Broadway

In [166]:
station.to_csv('data/stations.csv', index = False)